@charset "UTF-8";
/* CSS Document */

#MainWrapper
{
	max-width:1024px;  	/* max width */
	margin:auto; 		/* set the margins so that the main wrapper floats in */									
						/*the middle.*/
	width:90%;			/*take up 90% of 1024 */
}

#PopUpWrapper  /* create a wrapper that will limit the size of the pop up window */
{
	width:  400px;
	height: 300px;
}

#Title
{
		margin-bottom:0.3em; 	/*keep the menu's off the bottom*/
		text-align: center;
}

#Nav
{ 
		width: 100%;
	  	margin-bottom:1em; 
	  	border-bottom:solid 1px #aaa;
	  	border-top:solid 1px #aaa 
}
	
#Search /* a search div to separate and add a border to the search bar */
{
		border: solid thin #333;
}

#Results {} /* a results div to separate the search results */

#Content
{
		clear:both;  /*	have the content sit on its own line */
}

#Footer
{ 
  text-align:center;
  margin-top: 10em;   /* SPACING THE FOOTER AWAY FOR TESTING */
  
}

#Nav a  /* for the menus to have a bit of spacing */
{
	margin-left: 1em;
	margin-right: 1em;
}
	
#Centered  /* for centering a block - used only for the pop up windows */
{
  width: 100%;
  margin-left: auto ;
  margin-right: auto ;
}

	
/*
BELOW HERE IS GARBAGE! 

.KTable {display:table; }
.KRow {display:table-row}
.KCol1, .KCol2 , .KCol3, .KCol4 {display:table-cell; } /* padding left and right to give better clearance on the links
#Tables{
  display: table;
  display: table-cell;
  display: table-column;
  display: table-colgroup;
  display: table-header-group;
  display: table-row-group;
  display: table-footer-group;
  display: table-row;
  display: table-caption;
}
*/