@charset "UTF-8";
/* CSS Document */

#table
{
	width: 100%;
	display: table;
	table-layout: fixed;
	white-space: nowrap;
	}

.table-row
{
	display:table-row;
	padding: 3px;
}

.table-header-cell
{
	display:table-cell;
	background-color:#ccc;
	padding-top: 3px;
	padding-bottom: 3px;
}

.table-cell
{
	display:table-cell;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom: dotted 1px #ccc;
}


.cleaner 
{
	height: 0;
	clear: both;
}
