@charset "UTF-8";
/* CSS Document */

.table
{
	display: table;
	width: 100%;
}

.table-row
{
	display:table-row;
	padding: 3px;
}

.table-header-cell
{
	display:table-cell;
	background-color:#ccc;
	padding-top: 3px;
	padding-bottom: 3px;
}

.table-cell
{
	display:table-cell;
	padding: 6px;
	border-bottom: dotted 1px #ccc;
	
}


.cleaner 
{
	height: 0;
	clear: both;
}
