{% extends "basepopup.html" %}

{% block title%}KitHerder: Mentor Finder{% endblock %}


{% block content %}
	<script language="JavaScript">
		function target_popup(form)
		{
			window.close();
			form.target = 'formpopup';
		}
	</script>
	
	<h3>Searching for Mentor</h3><br />
    <div id="Search" align="center" style="padding: 5px;">
    <form name="searchmentorform" action="/matchmaker/mentorfinder" method="post">{% csrf_token %}
		{{ form.non_field_errors }}
		<div class="fieldWrapper">
			{{ form.subject_errors }}
			{{ form.project }}
			<label for="searchterm" style="float: none;">Search by email: </label>
			{{ form.searchterm }}
			<input type="submit" value="Search">
			<span class="toggle"><input type="button" value="Advanced options"></span>
			
			<div style="width: 410px; text-align: left;" class="divInfo">
				{{ form.matchskills }}
				<label for="matchskills" style="float: none">Mentors that match any of project's required skills only</label>
			</div>
		</div>
	</form>
    </div> <!-- end of search bar-->
  	
  	<br />
  	
	{% if resultmentorslist.count > 0 %}  
		<div id="Results"> <!-- div to hold the search results -->
			{% if searched %}
				<h4> Mentors in Division Matching Your Search </h4> <!-- title -->
			{% else %}
				<h4> Mentors in Division</h4> <!-- title -->
			{% endif %}
		  
			<div class="table"> <!-- table to hold search results -->
				<div class="table-row"><div class="table-header-cell">Mentor's Email</div><div class="table-header-cell">&nbsp;</div></div>
				{% for mentor in resultmentorslist %}
					<div class="table-row">
						<div class="table-cell"><a href="mailto:{{ mentor.user_id.email }}">{{ mentor.user_id.email }}</a></div>
						<div class="table-cell">
							<form id="selectmentor" method="post" action="/matchmaker/mentorfinder/">{% csrf_token %}
								<input type="hidden" id="project" name="project" value="{{ project }}">
								<input type="hidden" id="selectedmentor" name="selectedmentor" value="{{ mentor.user_id.email }}">
								<input type="submit" value="Select Mentor" />
							</form>
						</div>
					</div>
				{% endfor %}
			</div> <!-- end of #table -->
			<div class="cleaner"></div>  <!-- clean up after tables -->  
		</div> <!-- end results --> 
	{% else %}
		{% if searched %}
			<p>There are currently no mentors matching your search.</p>
		{% else %}
			<p>There are currently no mentors in the system.</p>
		{% endif %}
	{% endif %}

	   
{% endblock %}
