{% extends "base.html" %}

{% block title%}KitHerder: My Projects{% endblock %}

{% block content %}
	<div id="Results"> <!-- div to hold the search results -->
  
  		<h4> My Projects </h4> 
  		<!-- title -->
  
  		{% if myprojectslist.count > 0 %}  	
  			<div id="table"> <!-- table to hold search results -->	
  				<p><span class="header1">Project</span><span class="header2">Description</span><span class="header3">Status</span></p>
  				{% for project in myprojectslist %}
					<p><span class="col1"><a href="/matchmaker/project/{{ project.id }}/">{{ project.ProjectName }}</a></span><span class="col2">{{ project.ProjectName }}</span><span class="col3">{{ project.ProjectStatusID.Status }}</span></p>
				{% endfor %}
			</div> <!-- end of #table -->
			<div class="cleaner"></div>  <!-- clean up after tables -->  
    	{% else %}
    		<p>You are currently not involved in a project.</p>
		{% endif %}
  	</div> <!-- end results -->  
{% endblock %}
