{% extends "base.html" %}

{% block title%}KitHerder: My Projects{% endblock %}

{% block content %}
	<div id="Results"> <!-- div to hold the search results -->
  
  		<h4> My Projects </h4> 
  		<!-- title -->
  
  		{% if myprojectslist.count > 0 %}  	
			{% if role == "vouched mentor" or role == "non-vouched mentor" %}			
				<!-- mentor view -->
				<div class="table"> <!-- table to hold search results -->	
					<div class="table-row"><div class="table-header-cell">Project</div><div class="table-header-cell">Division</div><div class="table-header-cell">Mentee</div><div class="table-header-cell">status</div></div>
					{% for project in myprojectslist %}
						<div class="table-row">
							<div class="table-cell"><a href="/matchmaker/project/{{ project.id }}/">{{ project.project_name }}</a></div>
							<div class="table-cell">{{ project.division_id.division_name }}</div>
							<div class="table-cell">
								{% if project.mentee_id == NULL %}
									<!-- only show the invite mentee button if this mentor has been vouched or else just show no mentees yet-->
									{% if role == "vouched mentor" %}
										<form id="invitementee{{ project.pk }}" action="/matchmaker/menteefinder/" method="POST" onsubmit="target_popup(this, '/matchmaker/menteefinder/')">{% csrf_token %}
											<input type="hidden" id="project" name="project" value="{{ project.pk }}" />
											<input type="submit" value="add mentee" />
										</form>
									{% else %}
										None yet
									{% endif %}
									<!-- end check-->
								{% else %}	
									<!-- there is already a mentee, can't add another -->
									<!-- THIS IS AN ASSUMPTION OF THE SYSTEM FOR NOW -->
									<a href="mailto:{{ project.mentee_id.user_id.email }}">{{ project.mentee_id.user_id.email }}</a>
								{% endif %}
							</div>
							<div class="table-cell">{{ project.project_status_id.status }}</div>
						</div>
					{% endfor %}
				</div> <!-- end of #table -->
				<!-- end of mentor view -->
			{% else %}
				{% if role == "coordinator" %}
					<!-- coordinator view -->
					<div class="table"> <!-- table to hold search results -->	
						<div class="table-row"><div class="table-header-cell">Project</div><div class="table-header-cell">Division</div><div class="table-header-cell">Mentor</div><div class="table-header-cell">Mentee</div><div class=table-header-cell>approved</div></div>
						{% for project in myprojectslist %}
							<div class="table-row">
								<div class="table-cell"><a href="/matchmaker/project/{{ project.id }}/">{{ project.project_name }}</a></div>
								<div class="table-cell">{{ project.division_id.division_name }}</div>
								<div class="table-cell">
									{% if project.mentor_id == NULL %}
										<form id="invitementor{{ project.pk }}" action="/matchmaker/mentorfinder/" method="POST" onsubmit="target_popup(this, '/matchmaker/mentorfinder/')">{% csrf_token %}
											<input type="hidden" id="project" name="project" value="{{ project.pk }}" />
											<input type="submit" value="add mentor" />
										</form>
									{% else %}	
										<!-- there is already a mentee, can't add another -->
										<!-- THIS IS AN ASSUMPTION OF THE SYSTEM FOR NOW -->
										<a href="mailto:{{ project.mentor_id.user_id.email }}">{{ project.mentor_id.user_id.email }}</a>
									{% endif %}
								</div>
								<div class="table-cell">
									{% if project.mentee_id == NULL %}
										<form id="invitementee{{ project.pk }}" action="/matchmaker/menteefinder/" method="POST" onsubmit="target_popup(this, '/matchmaker/menteefinder/')">{% csrf_token %}
											<input type="hidden" id="project" name="project" value="{{ project.pk }}" />
											<input type="submit" value="add mentee" />
										</form>
									{% else %}	
										<!-- there is already a mentee, can't add another -->
										<!-- THIS IS AN ASSUMPTION OF THE SYSTEM FOR NOW -->
										<a href="mailto:{{ project.mentee_id.user_id.email }}">{{ project.mentee_id.user_id.email }}</a>
									{% endif %}
								</div>
								<div class="table-cell">
									{% if project.approved%}
										Yes
									{% else %}
										<form id="approveproject{{ project.pk }}" action="/matchmaker/myprojects/" method="POST">{% csrf_token %}
											<input type="hidden" id="project" name="project" value="{{ project.pk }}" />
											<input type="submit" name="approveproject" value="approve now" />
										</form>
									{% endif %}
								</div>
							</div>
						{% endfor %}
						</div> <!-- end of #table -->
					<!-- end of coordinator view -->
				{% else %}	
					<!-- assume mentee view -->
					<div class="table"> <!-- table to hold search results -->	
						<div class="table-row"><div class="table-header-cell">Project</div><div class="table-header-cell">Division</div><div class="table-header-cell">Mentor</div><div class="table-header-cell">status</div></div>
						{% for project in myprojectslist %}
							<div class="table-row">
								<div class="table-cell"><a href="/matchmaker/project/{{ project.id }}/">{{ project.project_name }}</a></div>
								<div class="table-cell">{{ project.division_id.division_name }}</div>
								<div class="table-cell">
									{% if project.mentor_id == NULL %}
										None yet
									{% else %}
										<a href="mailto:{{ project.mentor_id.user_id.email }}">{{ project.mentor_id.user_id.email }}</a>
									{% endif %}
								</div>
								<div class="table-cell">{{ project.project_status_id.status }}</div>
							</div>
						{% endfor %}
					</div> <!-- end of #table -->
					<!-- end of mentee view -->
				{% endif %}
			{% endif %}
			<div class="cleaner"></div>  <!-- clean up after tables -->  
    	{% else %}
    		<p>You are currently not involved in a project.</p>
		{% endif %}
  	</div> <!-- end results -->  
{% endblock %}
