{% extends "base.html" %}

{% block title%}KitHerder: Project Details{% endblock %}

{% block content %}
	<h2>Project Details</h2>
	
	{% if theproject %}
		<!-- display the express interest portion -->
		<div align="right">
			{% if not isbelong and role == "mentee" %}
				{% if expressedinterest == 0 %}
					<form name="expressinterest" method="post" action="/matchmaker/project/{{ theproject.pk }}/">{% csrf_token %}
						<input type="submit" name="expressinterest" value="express interest">
					</form>
				{% else %}
					You have expressed interest for this project.
				{% endif %}
			{% endif %} 
			{% if isbelong %}
				<a href="/matchmaker/project/{{ theproject.pk }}/edit/">Edit Project</a>
			{% endif %}
		</div>
	
		<div id="table" >
			<div class="table-row">
				<div class="table-cell" style="width: 250px">Project Name:</div>
				<div class="table-cell">{{ theproject.ProjectName }}</div>
			</div>
			{% if theproject.ParentProjectID != NULL %}
				<div class="table-row">
					<div class="table-cell">Parent Project:</div>
					<div class="table-cell">{{ theproject.ParentProjectID.ProjectName }}</div>
				</div>
			{% endif %}
			<div class="table-row">
				<div class="table-cell">Division:</div>
				<div class="table-cell">{{ theproject.DivisionID.DivisionName }}</div>
			</div>
			<div class="table-row">
				<div class="table-cell">Division Coordinator(s):</div>
				<div class="table-cell">
					{% for coordinator in mycoordinatorlist %}
						<a href="{{ coordinator.UserID.email }}/">{{ coordinator.UserID.email }}</a><br>
					{% endfor %}
				</div>
			</div>
			
			<!-- Showing Mentor and Mentee only if user belongs to the project -->
			{% if isbelong %}
				<div class="table-row">
					<div class="table-cell">Mentor:</div>
					<div class="table-cell">
						<a href="mailto:{{ theproject.MentorID.UserID.email }}">{{ theproject.MentorID.UserID.email }}</a>
					</div>
				</div>
				<div class="table-row">
					<div class="table-cell">Mentee:</div>
					<div class="table-cell">
						{% if theproject.MenteeID == NULL %}
							{% if role == "vouched mentor" %}
								<form id="invitementee{{ project.pk }}" action="/matchmaker/menteefinder/" method="POST" onsubmit="target_popup(this, '/matchmaker/menteefinder/')">{% csrf_token %}
									<input type="hidden" id="project" name="project" value="{{ theproject.pk }}" />
									<input type="submit" value="add mentee" />
								</form>
							{% else %}
								None
							{% endif %}
						{% else %}	
							<a href="mailto:{{ theproject.MenteeID.UserID.email }}">{{ theproject.MenteeID.UserID.email }}</a>
						{% endif %}
					</div>
				</div>
				<div class="table-row">
					<div class="table-cell">Approved?</div>
					<div class="table-cell">
						{% if theproject.Approved %}
							Approved by <a href="mailto:{{ theproject.ApprovedBy.UserID.email }}">{{ theproject.ApprovedBy.UserID.email }}</a>
						{% else %}
							Not yet
						{% endif %}
					</div>
				</div>
			{% endif %}
			<!-- end mentor and mentee logic -->
			
			<div class="table-row">
				<div class="table-cell">Project Description:</div>
				<div class="table-cell">{{ theproject.ProjectDescription }}</div>
			</div>
			<div class="table-row">
				<div class="table-cell">Skills Required</div>
				<div class="table-cell">{{ theproject.SkillsRequired }}</div>
			</div>
			<div class="table-row">
				<div class="table-cell">Status</div>
				<div class="table-cell">{{ theproject.ProjectStatusID.Status }}</div>
			</div>
		</div>
		
		{% if isbelong %}
			{% if role == "non-vouched mentor" or role == "vouched mentor" or role == "coordinator" %}
				{% if expressedinterestlist %}
					<br>&nbsp;<br>
					<b>Mentees who have expressed interest</b> <a href="#" onClick="ToggleList('expressinterest')" style="text-decoration:none; font-size: 20pt; font-weight: bold">+</a>
					<div id="expressinterest" class="divInfo">
						<div id="table"> <!-- table to hold search results -->
							<div class="table-row"><div class="table-header-cell">Mentee's Email</div><div class="table-header-cell">&nbsp;</div></div>
							{% for menteeRel in expressedinterestlist %}
								<div class="table-row">
									<div class="table-cell"><a href="mailto:{{ menteeRel.MenteeID.UserID.email }}">{{ menteeRel.MenteeID.UserID.email }}</a></div>
									<div class="table-cell">
										<!-- ASSUMPTION: Vouched or nonvouched mentor can add a mentee who has already expressed interest to the project -->
										<!-- show form only if no mentee is in the project yet -->
										{% if theproject.MenteeID == NULL %}
										<form id="selectmentee" method="post" action="/matchmaker/project/{{ theproject.pk }}/">{% csrf_token %}
											<input type="hidden" id="project" name="project" value="{{ theproject.pk }}">
											<input type="hidden" id="selectedmentee" name="selectedmentee" value="{{ menteeRel.MenteeID.UserID.email }}">
											<input type="submit" id="selectmentee" name = "selectmentee" value="select mentee" />
										</form>
										{% endif %}
									</div>
								</div>
							{% endfor %}
						</div> <!-- end of #table -->
					</div>
				{% endif %}
			{% endif %}
		{% endif %}
	{% else %}
    	<p>Project does not exist</p>
	{% endif %} 
{% endblock %}
