{% extends "base.html" %}

{% block title%}KitHerder: Search Project{% endblock %}

{% block content %}
   <div id="Search" align="center" style="padding: 5px;">
    <form name="searchform" action="/matchmaker/searchproject/" method="post">{% csrf_token %}
		{{ form.non_field_errors }}
		<div class="fieldWrapper">
			{{ form.subject_errors }}
			<div style="display: inline-block; vertical-align: top"><label for="searchterm" style="float: none">Search: </label></div>
			<div style="display: inline-block; vertical-align: top">
				{{ form.searchterm }}
				<br />
				<i style="font-size: 9pt;">(leave blank for all projects)</i>
			</div>
			<div style="display: inline-block; vertical-align: top">
				<input type="submit" value="Search" class="button" />
				<span class="toggle"><input type="button" value="Advanced options" class="button" /></span>
			</div>
			
			<div class="cleaner">&nbsp;<br /></div>
			<div style="width: 410px; text-align: left;" class="divInfo">
				{{ form.noncompleted }}
				<label for="noncompleted" style="float: none">Only non-completed projects</label>
				<br/>
				{{ form.matchskills }}
				<label for="matchskills" style="float: none">Projects that match any of my skills only</label>
				<br />
				{{ form.mozilliangroups }}
				<label for="mozilliangroups" style="float: none">Projects in divisions matching my Mozillian groups</label>
			</div>
			
			
		</div>
	</form>
    </div> <!-- end of search bar-->
  
	{%if searched %}
		{% if resultprojectslist.count > 0 %}  
			<div id="Results"> <!-- div to hold the search results -->
				<h4> Projects Matching Your Search </h4> <!-- title -->
	  
				<div class="table"> <!-- table to hold search results -->
					<div class="table-row"><div class="table-header-cell">Project</div><div class="table-header-cell">Division</div><div class="table-header-cell">Status</div><div class="table-header-cell">Involved In?</div></div>
					{% for project in resultprojectslist %}
						<div class="table-row">
							<div class="table-cell"><a href="/matchmaker/project/{{ project.id }}/">{{ project.project_name }}</a></div>
							<div class="table-cell">{{ project.division_id.division_name }}</div>
							<div class="table-cell">{{ project.project_status_id.status }}</div>
							<div class="table-cell">
								{% if project.mentor_id.user_id.email == user.email or project.mentee_id.user_id.email == user.email %}
									Yes
								{% else %}
									No
								{% endif %}
							</div>
						</div>
					{% endfor %}
				</div> <!-- end of #table -->
				<div class="cleaner"></div>  <!-- clean up after tables -->  
			</div> <!-- end results --> 
		{% else %}
			<p>No projects matching your search term. Please try again.</p>
		{% endif %}
	{% endif %}
{% endblock %}