<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>KitHerder: Search Projects</title>

<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css"> <!-- FONTS for opensans -->
<link href="{{ STATIC_URL }}KitherderLayout.css" rel="stylesheet" type="text/css" />   <!-- my layout CSS with divs for layout and columns-->
<link href="{{ STATIC_URL }}Kitherder.css" rel="stylesheet" type="text/css" />   <!-- the look of kitherder colours fonts etc -->
<link href="{{ STATIC_URL }}tables.css" rel="stylesheet" type="text/css" />  <!-- implements table functionality --> 



</head>

<body>
<div id="MainWrapper">

<div class="large" id="Title">KitHerder
</div> <!-- end title -->


<div id="Nav">
<div class="table"> <!-- start of table --> 
    	<p>  <!-- start of row -->
        	<span class="col1"> <a href="/matchmaker/myprojects.html">My Projects </a> 	</span> 	<!-- end col 1-->
		 	<span class="col2"> <a href="/matchmaker/searchproject.html">Search Projects</a></span> 		<!-- end col 2-->
        	<span class="col3"> <a href="/matchmaker/submitproject.html">Submit Project</a>	</span> 	<!-- end col 3-->
        </p> <!-- end of row -->
</div> <!-- end table -->           
</div> <!-- end Nav -->

<div id="Content">
   <div id="Search" align="center" style="padding: 5px;">
    <form name="searchform" action="/matchmaker/searchproject/" method="post">{% csrf_token %}
		{{ form.non_field_errors }}
		<div class="fieldWrapper">
			{{ form.subject_errors }}
			<label for"searchterm">Search: </label>
			{{ form.searchterm }}
			<input type="submit" value="Search">
		</div>
	</form>
    </div> <!-- end of search bar-->
  
	{%if searched %}
		{% if resultprojectslist %}  
			<div id="Results"> <!-- div to hold the search results -->
				<h4> Projects Matching Your Search </h4> <!-- title -->
	  
				<div id="table"> <!-- table to hold search results -->
					<p><span class="header1">Project</span><span class="header2">Description</span><span class="header3">Status</span></p>
					{% for project in resultprojectslist %}
						<p><span class="col1"><a href="/matchmaker/project/{{ project.id }}/">{{ project.ProjectName }}</a></span><span class="col2">{{ project.ProjectName }}</span><span class="col3">{{ project.ProjectStatusID.ProjectStatus }}</span></p>
					{% endfor %}
				</div> <!-- end of #table -->
				<div class="cleaner"></div>  <!-- clean up after tables -->  
			</div> <!-- end results --> 
		{% else %}
			<p>No projects matching your search term. Please try again.</p>
		{% endif %}
	{% endif %}
</div> <!-- end Content -->


<div class="body" id="Footer">
footer
</div> <!-- end Footer -->

</div> <!--end main wrapper -->
</body>
</html>
