{% extends "base.html" %}

{% block title%}KitHerder: Project Details{% endblock %}

{% block content %}
    	<script type="text/javascript">
	    $(document).ready(function() {
    	    $("#id_skills_required").tagit({allowSpaces: true});
    	});
	</script>

	<h2>Submit Project</h2>
    {% if cannotsubmit %}
    	As a mentor, you must join one of the Kitherder groups in Mozillian before you can submit a project. <a href="https://mozillian.org">Go join now.</a>
    {% else %} 
   		<form method="post" action="">{% csrf_token %}
			<table>
			{{ submitform.as_table }}
			<tr><td>&nbsp;</td><td><input type="submit" name="submit" id="submit" value="Submit" class="button" /></td></tr>
			</table>
		</form>
	{% endif %}
	   
{% endblock %}